{
	"presets": ["react-app", "@babel/preset-typescript"],
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd",
				"style": "css"
			}
		],
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-nullish-coalescing-operator"
	]
}
